@import '../../css/var';

.tools-container {
    width: 190px;
    margin: 0 5px;
}

.menu__default {
  width: 100%;
  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.button__element {
  @include sizeBox(100%, 48px);

  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 18px;
 

  font-size: 16px;
  line-height: 24px;
  border: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.541327);
  cursor: pointer;

  &:hover {
    background-color: rgba(35, 245, 28, 0.548);
  }
}

.active{
  background-color: rgba(35, 245, 28, 0.548);
}

.icons{
  margin-right: 10px;
}

.icon-stroke {
  @include sizeBox(24px, 24px);
}

.pen-size-container {
  @include sizeBox(100%, 40px);

  display: flex;
}

.pen-size {
  @include sizeBox(20px, 20px);

  box-sizing: border-box;
  margin-right: 2px;
  border: 2px solid #444;
  cursor: pointer;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
    text-align: center;
    line-height: 12px;
    font-size: 90%;
  }
}

.pen-size[data-size='1'] {
  padding: 5px;
}

.pen-size[data-size='2'] {
  padding: 4px;
}

.pen-size[data-size='3'] {
  padding: 3px;
}

.pen-size[data-size='4'] {
  padding: 2px;
}

.wrapper-color {
  @include sizeBox(100px, 100px);

  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}

.color-box {
  @include sizeBox(46px, 46px);
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-color {
  position: relative;
  z-index: 2;
}

.preview-color {
  position: relative;
  top: 34px;
  left: -16px;
}

.color-change {
  @include sizeBox(30px, 30px);

  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(./img/icon-change.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: transparent;

  &:hover {
    border: 2px solid rgba(35, 245, 28, 0.548);
  }
}