@import './font';
@import './var';
@import './header';

$font: "Roboto";

* {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
}

body{
  margin: 0;
  padding: 0;
}

main{
  display: grid;
  grid-template-columns: 205px 130px auto 205px 20px;
  height: calc(100vh - 100px);
  grid-column-gap: 10px;
  padding: 5px 0 10px;
}